<%- include layouts/header.ejs %>

  <!-- ================= -->
  <!-- === contenido === -->
  <!-- ================= -->
  <div class="container mt-4">
        
    <div class="jumbotron shadow">
        <h1 class="display-4"><%= title %></h1>
        <p class="lead">Esta sección no contiene información relevante, es para comprobar el uso de las rutas.</p>
        <hr class="my-4">
        <p>Voy a seguir investigando y aprendiendo más sobre esta fantastica tecnología.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Leer más</a>
    </div>

  </div>
  
<%- include layouts/footer.ejs %>